/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

@import url(shared.css);
/* line 25, ../../../app/stylesheets/screen.sass */
.flash_notice {
  background: white;
}

/* line 27, ../../../app/stylesheets/screen.sass */
.flash_notice_wrap {
  background: #666666;
  margin: 0px 8px;
  padding: 10px 3px 10px 8px;
  border-bottom: 1px solid #dedede;
}

/* line 32, ../../../app/stylesheets/screen.sass */
.flash_notice_wrap span {
  float: left;
  padding: 5px 3px 0px 3px;
  border-bottom: 1px dotted #6494ad;
}

/* line 36, ../../../app/stylesheets/screen.sass */
.flash_notice_wrap a {
  color: #6494ad;
}

/* line 38, ../../../app/stylesheets/screen.sass */
.flash_notice_text {
  margin: 0px 0px 0px 90px;
  padding: 5px;
  color: #6494ad;
}

/* line 45, ../../../app/stylesheets/screen.sass */
body {
  color: #333333;
  font-family: helvetica;
  background: #010810 no-repeat;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  background-image: -webkit-gradient(radial, 75% 0%, 100, 75% 0%, 706, color-stop(0%, #666666), color-stop(100%, #333333));
  background-image: -moz-radial-gradient(75% 0%, circle, #666666 0%, #333333 100%);
  min-height: 800px;
}

/* line 56, ../../../app/stylesheets/screen.sass */
a {
  color: #6494ad;
  text-decoration: none;
  border-bottom: 1px dotted;
}

/* line 60, ../../../app/stylesheets/screen.sass */
p {
  padding: 10px 0px;
  margin: 0px;
  line-height: 1.3;
}

/* line 64, ../../../app/stylesheets/screen.sass */
a:hover {
  color: #4e7385;
}

/* line 66, ../../../app/stylesheets/screen.sass */
h1 {
  color: #adb167;
  margin: 10px 0px 10px 0px;
  padding: 0px;
  font-size: 22px;
}

/* line 71, ../../../app/stylesheets/screen.sass */
h2 {
  margin: 10px 0px 5px 0px;
  padding: 0px;
  font-size: 18px;
  color: #adb167;
  font-style: italic;
}

/* line 77, ../../../app/stylesheets/screen.sass */
h3 {
  margin: 10px 0px 5px 0px;
  padding: 0px;
  font-size: 16px;
}

/* line 81, ../../../app/stylesheets/screen.sass */
.accent {
  color: #ffa200;
}

/* line 83, ../../../app/stylesheets/screen.sass */
#page_frame {
  width: 966px;
  margin: 0px auto 0px auto;
  padding: 0px;
}

/* line 87, ../../../app/stylesheets/screen.sass */
#top_header {
  padding: 0px;
  margin: 0px;
  height: 50px;
  font-size: 24px;
}

/* line 92, ../../../app/stylesheets/screen.sass */
#top_header span {
  display: none;
}

/* line 96, ../../../app/stylesheets/screen.sass */
#content_wrap {
  padding: 0px;
  color: #333333;
  background: #c2c2a3;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: -2px -2px 2px black;
  -moz-box-shadow: -2px -2px 2px black;
  box-shadow: -2px -2px 2px black;
}

/* line 108, ../../../app/stylesheets/screen.sass */
#navigation {
  display: block;
}

/* line 110, ../../../app/stylesheets/screen.sass */
#navigation ul {
  float: left;
  margin: 0px;
  padding: 20px 0px;
  list-style: none;
}

/* line 115, ../../../app/stylesheets/screen.sass */
#navigation li {
  float: left;
  padding: 0px;
  margin: 0px;
}

/* line 119, ../../../app/stylesheets/screen.sass */
#navigation li a {
  display: block;
  padding: 8px 15px 6px 15px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  border: none;
}

/* line 126, ../../../app/stylesheets/screen.sass */
#navigation li a:hover {
  color: #ffa200;
}

/* line 128, ../../../app/stylesheets/screen.sass */
#navigation li a.current {
  color: #cccccc;
  border-bottom: 1px solid #cccccc;
}

/* line 134, ../../../app/stylesheets/screen.sass */
#page_footer {
  height: 40px;
  width: 952px;
  margin: 0px auto;
  padding: 0px;
}

/* line 139, ../../../app/stylesheets/screen.sass */
.contact_me {
  float: right;
}

/* line 141, ../../../app/stylesheets/screen.sass */
.contact_me a {
  display: block;
  width: 125px;
  height: 19px;
  padding: 8px 0px 8px 0px;
  border: none;
  margin: 4px 0px 3px 0px;
  color: white;
}

/* line 149, ../../../app/stylesheets/screen.sass */
.contact_me a:hover {
  border: none;
}

/* line 151, ../../../app/stylesheets/screen.sass */
.small_logo {
  padding: 0px 5px;
}

/* line 153, ../../../app/stylesheets/screen.sass */
#copy_right {
  color: #333333;
  font-size: 10px;
  text-align: center;
  margin: 0px;
  padding: 5px 0px;
}

/* line 159, ../../../app/stylesheets/screen.sass */
.copy_right a {
  text-decoration: none;
  color: #333333;
  border: none;
}

/* line 163, ../../../app/stylesheets/screen.sass */
.copy_right a:hover {
  color: #999999;
}

/* line 168, ../../../app/stylesheets/screen.sass */
#home_page {
  padding: 200px 50px;
  text-align: right;
  text-shadow: 1px 0px 3px white;
}

/* line 172, ../../../app/stylesheets/screen.sass */
#home_page #home_large {
  font: 40px helvetica;
}

/* line 174, ../../../app/stylesheets/screen.sass */
#home_page #home_small {
  font: 15px helvetica;
}

/* line 178, ../../../app/stylesheets/screen.sass */
#filter {
  padding: 10px 0px;
}

/* line 180, ../../../app/stylesheets/screen.sass */
.portfolio_wrap {
  padding: 20px 10px;
}

/* line 182, ../../../app/stylesheets/screen.sass */
.image-grid {
  margin: -20px 0 0 -40px;
  padding-left: 45px;
  width: 840px;
}

/* line 186, ../../../app/stylesheets/screen.sass */
.image-grid:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

/* line 192, ../../../app/stylesheets/screen.sass */
.image-grid li {
  width: 170px;
  margin: 40px 0 0 40px;
  float: left;
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
  line-height: 17px;
  color: #686f74;
  overflow: hidden;
}

/* line 201, ../../../app/stylesheets/screen.sass */
.image-grid li img,
.image-grid li strong {
  display: block;
}

/* line 204, ../../../app/stylesheets/screen.sass */
.image-grid li span {
  color: #cccccc;
}

/* line 206, ../../../app/stylesheets/screen.sass */
.box_port {
  width: 600px;
}

/* line 208, ../../../app/stylesheets/screen.sass */
.box_port a.centered {
  display: block;
  text-align: center;
  border: none;
  margin: 0px 15px 20px 15px;
}

/* line 213, ../../../app/stylesheets/screen.sass */
.box_port span {
  display: block;
}

/* line 215, ../../../app/stylesheets/screen.sass */
.box_port img {
  padding: 20px 0px;
}

/* */
/* Mailer CSS */
/* */
/* line 222, ../../../app/stylesheets/screen.sass */
#mailer_wrap {
  width: 500px;
}

/* line 224, ../../../app/stylesheets/screen.sass */
#mailer_wrap h1 {
  color: #6494ad;
  font-size: 20px;
  padding: 0px 5px 25px 10px;
}

/* line 228, ../../../app/stylesheets/screen.sass */
.small_mailer_icon {
  float: right;
}

/* line 230, ../../../app/stylesheets/screen.sass */
.div_spacer {
  padding: 10px;
}

/* line 232, ../../../app/stylesheets/screen.sass */
#mailer_wrap form {
  border-top: 1px solid #dddddd;
  padding-top: 10px;
}

/* line 235, ../../../app/stylesheets/screen.sass */
#mailer_wrap form input, textarea {
  margin: 0px 0px 0px 10px;
  padding: 2px;
}

/* line 238, ../../../app/stylesheets/screen.sass */
#mailer_wrap form textarea {
  height: 50px;
  width: 250px;
}

/* line 241, ../../../app/stylesheets/screen.sass */
#mailer_wrap form label {
  width: 180px;
}

/* line 243, ../../../app/stylesheets/screen.sass */
#mailer_wrap form input.error, textarea.error {
  border-width: 1px;
  border-style: dotted;
  border-color: #d94e4e;
}

/* line 247, ../../../app/stylesheets/screen.sass */
#mailer_wrap form label.error, textarea.error {
  color: #d94e4e;
}

/* line 249, ../../../app/stylesheets/screen.sass */
#mailer_wrap form label.error {
  margin-left: 10px;
  display: inline-block;
}

/* line 255, ../../../app/stylesheets/screen.sass */
.ui-datepicker-days-row td {
  padding: 0px;
}

/* line 257, ../../../app/stylesheets/screen.sass */
#facebox .footer a {
  border: none;
}

/* line 262, ../../../app/stylesheets/screen.sass */
#connect_wrap {
  padding: 20px;
}

/* line 267, ../../../app/stylesheets/screen.sass */
.color_toggle {
  display: block;
  text-align: right;
}

/* line 274, ../../../app/stylesheets/screen.sass */
table.process_image_comp {
  width: 890px;
}

/* line 276, ../../../app/stylesheets/screen.sass */
.process_image_comp td {
  text-align: center;
}

/* line 281, ../../../app/stylesheets/screen.sass */
.clearfix {
  *display: inline-block;
}

/* line 283, ../../../app/stylesheets/screen.sass */
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
