/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

body { line-height: 1; color: black; background: white; }

ol, ul { list-style: none; }

table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: "" ""; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

a img { border: none; }

@font-face { font-family: "QuicksandBook"; src: url("/fonts/quicksand_book/Quicksand_Book-webfont.eot"); src: local("☺"), url("/fonts/quicksand_book/Quicksand_Book-webfont.woff") format("woff"), url("/fonts/quicksand_book/Quicksand_Book-webfont.ttf") format("truetype"), url("/fonts/quicksand_book/Quicksand_Book-webfont.svg#webfontQvsv8Mp8") format("svg"); font-weight: normal; font-style: normal; }

.flash_notice { background: white; }

.flash_notice_wrap { background: #666666; margin: 0px 8px; padding: 10px 3px 10px 8px; border-bottom: 1px solid #dedede; }

.flash_notice_wrap span { float: left; padding: 5px 3px 0px 3px; border-bottom: 1px dotted #6494ad; }

.flash_notice_wrap a { color: #6494ad; }

.flash_notice_text { margin: 0px 0px 0px 90px; padding: 5px; color: #6494ad; }

body { color: #999999; font-family: "Helvetica Neue", arial, sans-serif; background: #010810 no-repeat; font-size: 13px; line-height: 1.5; padding: 0px; margin: 0px; font-weight: normal; background-image: -webkit-gradient(radial, 75% -30%, 100, 75% -30%, 1500, color-stop(0%, #31343d), color-stop(100%, #010810)); background-image: -moz-radial-gradient(75% 0%, circle, #31343d 0%, #010810 100%); min-height: 1000px; }

.no-cssgradients body { background: transparent url(/images/ie_bg.jpg) top center no-repeat; }

a { color: #666666; text-decoration: none; border-bottom: 1px dotted; }

p { padding: 10px 0px; margin: 0px; line-height: 1.3; }

a:hover { color: #ff8c00; }

h1 { color: #ffa200; font: 22px/22px "QuicksandBook", "Helvetica Neue", arial; margin: 10px 0px 10px 0px; padding: 0px; text-transform: uppercase; text-shadow: -1px -1px 1px #e0e0e0; }

.no-boxshadow h1 { behavior: url(ie-css3.htc); }

h2 { margin: 10px 0px 5px 0px; padding: 0px; font-size: 18px; color: #ffa200; font-style: italic; }

h3 { margin: 10px 0px 5px 0px; padding: 0px; font-size: 16px; }

.accent { color: #ffaf00; }

.css_hide { display: none; }

.show-50 { -moz-opacity: 0.5; filter: alpha(opacity=50); opacity: 0.5; }

.show-75 { -moz-opacity: 0.75; filter: alpha(opacity=75); opacity: 0.75; }

.large_quote { line-height: 25px; font-family: Georgia, "Times New Roman", Times, serif; font-style: italic; font-size: 40px; }

#ie_flash { display: none; }

#page_frame { width: 966px; margin: 0px auto 0px auto; padding: 20px 0px; }

#top_header { float: right; }

a#kenderson_logo { display: block; text-align: right; padding: 0px; margin: 30px 0px 0px 0px; height: 39px; width: 261px; background: transparent url(/images/kenderson_logo.png) top left no-repeat; border: none; }

#kenderson_logo span { font-size: 24px; display: none; }

#content_wrap { padding: 20px; color: #999999; background: white; -moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px; -moz-box-shadow: 0px 0px 5px #efefef; -webkit-box-shadow: 0px 0px 5px #efefef; box-shadow: 0px 0px 5px #efefef; }

.no-borderradius #content_wrap { behavior: url(ie-css3.htc); }

.tip_bg { display: block; padding: 7px 10px; line-height: 1.1; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffb401), to(#ce8429)); background-image: -moz-linear-gradient(0% 100% 90deg, #ce8429, #ffb401); -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; text-shadow: 1px 1px 3px #ffe80e; }

.no-borderradius .tip_bg { padding: 0px; }

#content_w_side { margin: 0px 220px 0px 0px; }

#right_side { float: right; width: 195px; }

#right_side ul { padding: 0px 0px 0px 20px; }

#right_side li { padding: 3px 0px; }

#navigation { display: block; }

#navigation ul { float: left; margin: 0px; padding: 40px 0px 35px 0px; list-style: none; }

#navigation li { float: left; padding: 0px; margin: 0px; }

#navigation li a { display: block; padding: 8px 5px 6px 5px; margin: 0px 10px; text-decoration: none; font-size: 18px; color: white; border: none; }

#navigation li a:hover { color: #ffaf00; }

#navigation li a.current { color: #ffaf00; border-bottom: 1px solid #ffaf00; }

#page_footer { padding: 50px 0px; }

#copy_right { float: right; display: block; color: #41404d; font-size: 10px; margin: 0px; padding: 0px; line-height: 22px; }

#home_twitter_feed { color: white; height: 22px; line-height: 22px; width: 600px; margin: 0px; padding: 0px 10px 0px 25px; background: transparent url(/images/kenderson_twitter_icon.png) top left no-repeat; }

#home_twitter_feed span.accent { width: 125px; float: left; }

#twitter_div { margin: 0px 0px 0px 130px; }

#home_page { color: #31343d; padding: 200px 50px; margin: 0px; position: relative; text-align: right; }

#home_page #home_large { margin: 0px; padding: 0px; position: relative; text-shadow: -1px -1px 2px #010810; font-size: 40px; }

#home_page #home_large .accent { text-shadow: -1px -1px 2px #999999; behavior: url(ie-css3.htc); }

#home_page #home_small { margin: 0px; padding: 10px 0px; position: relative; text-shadow: -1px -1px 2px #b4b6b8; font-size: 14px; }

.no-boxshadow #home_page #home_small span.normal { behavior: url(ie-css3.htc); }

#filter { padding: 10px 0px; margin-top: -55px; }

.portfolio_wrap { padding: 20px 10px; }

.portfolio_wrap #filter label { float: right; margin: 0px 5px; padding: 5px; }

.portfolio_wrap #filter label:hover { background: transparent url(/images/stripped_bg_light.png) top left repeat; }

.image-grid { margin: -20px 0 0 -40px; padding-left: 15px; width: 920px; }

.image-grid:after { content: ""; display: block; height: 0; overflow: hidden; clear: both; }

.image-grid li { width: 188px; padding: 40px 0 0 40px; float: left; text-align: center; font-family: "Helvetica Neue", sans-serif; line-height: 17px; color: #686f74; }

.image-grid li a { position: relative; display: block; border: none; }

.image-grid li a .img_block { position: absolute; z-index: 100; margin: 3px 0px 0px 3px; padding: 0; }

.image-grid li a .port_thumb { position: relative; height: 118px; width: 188px; z-index: 10; }

.image-grid li a .coyne_thumb { background: transparent url(/images/coyne_thumb.png) top left no-repeat; }

.image-grid li a .legalruled_thumb { background: transparent url(/images/legalruled_thumb.png) top left no-repeat; }

.image-grid li a .protegus_thumb { background: transparent url(/images/protegus_thumb.png) top left no-repeat; }

.image-grid li a .sagwest_thumb { background: transparent url(/images/sag_west_thumb.png) top left no-repeat; }

.image-grid li a .htmlemail_thumb { background: transparent url(/images/html_email_thumb.png) top left no-repeat; }

.image-grid li a .smhklaw_thumb { background: transparent url(/images/smhklaw_thumb.png) top left no-repeat; }

.image-grid li a .modwedding_thumb { background: transparent url(/images/modwedding_thumb.png) top left no-repeat; }

.image-grid li a .socialbuzzpr_thumb { background: transparent url(/images/socialbuzzpr_thumb.png) top left no-repeat; }

.image-grid li a:hover .img_block { width: 171px; height: 100px; background-image: none; border: 3px solid #ffaf00; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.no-borderradius .image-grid li a:hover .img_block { position: absolute; z-index: 100; height: 118px; width: 188px; padding: 0; margin: 0; border: none; }

.no-borderradius .image-grid li a:hover .img_block { background: transparent url(/images/hover_border.png) top left no-repeat; }

.image-grid li strong { color: #333333; display: block; padding: 5px 0px 0px 0px; }

.image-grid li span { color: #ffaf00; }

.box_port { width: 600px; color: #999999; }

.box_port a.centered { display: block; text-align: center; border: none; margin: 0px 15px 20px 15px; }

.box_port span { display: block; }

.box_port img { padding: 20px 0px; color: #ffaf00; }

/* */
/* Mailer CSS */
/* */
#mailer_wrap { width: 500px; height: 280px; }

#mailer_wrap h1 { color: #666666; font-size: 20px; padding: 0px 5px 25px 10px; }

.small_mailer_icon { float: right; }

.div_spacer { padding: 10px; }

#mailer_wrap form { border-top: 1px solid #dddddd; padding-top: 10px; }

#mailer_wrap form input, textarea { margin: 0px 0px 0px 10px; padding: 2px; }

#mailer_wrap form textarea { height: 50px; width: 250px; }

#mailer_wrap form label { width: 180px; }

#mailer_wrap form input.error, textarea.error { border-width: 1px; border-style: dotted; border-color: #d94e4e; }

#mailer_wrap form label.error, textarea.error { color: #d94e4e; }

#mailer_wrap form label.error { margin-left: 10px; display: inline-block; }

.ui-datepicker-days-row td { padding: 0px; }

a#fancybox-close { border: none; }

#fancybox-wrap { z-index: 42001; }

#fancybox-wrap h2 { color: #333333; }

#connect_wrap { padding: 20px; }

.color_toggle { display: block; text-align: right; }

#accordion h3 { display: block; padding: 7px 10px; margin-bottom: 0px; line-height: 1.1; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffb401), to(#ce8429)); background-image: -moz-linear-gradient(0% 100% 90deg, #ce8429, #ffb401); -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; text-shadow: 1px 1px 3px #ffe80e; }

.no-borderradius #accordion h3 { background: transparent url(/images/qtip_bg.png) top left repeat-x; behavior: url(ie-css3.htc); }

#accordion h3 a { color: #333333; border: none; }

#accordion h3 a:hover { color: black; }

#accordion .ui-accordion-content { padding: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; border: 1px solid #ce8428; }

table.process_image_comp { width: 890px; }

.process_image_comp td { text-align: center; }

.process_quote { float: right; width: 300px; margin: 0px 0px 30px 80px; }

#cross_browser_design ul li { padding: 5px 10px 5px 10px; margin: 0px 0px 0px 35px; list-style: circle; list-style-position: outside; }

#cross_browser_design ul li span { color: #ffaf00; font-size: 14px; }

#about_image { float: right; display: block; margin: 0px 0px 30px 30px; }

.pics { height: 250px; width: 225px; }

.pic_1 { background: transparent url(/images/bio_pic_1_r8.png) top left no-repeat; }

.pic_2 { background: transparent url(/images/bio_pic_2_r8.png) top left no-repeat; }

.pic_3 { background: transparent url(/images/bio_pic_3_r8.png) top left no-repeat; }

.no-borderradius #about_image .div { behavior: url(ie-css3.htc); }

.clearfix { *display: inline-block; }

.clearfix:after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }
