.good_stuff_links.right_header
  %h2 
    %span Good Stuff
  %ul
    %li
      %a{"href"=>"http://www.blog.kenderson.net"} Our Blog  
    %li
      %a{"href"=>"http://www.iterativedesigns.com"} Iterative Designs
    %li
      %a{"href"=>"http://www.perphic.com"} Perphic Design
    %li
      %a{"href"=>"http://www.voodootikigod.com"} Chris Williams
    %li
      %a{"href"=>"http://www.jsroll.com"} JS Roll
.inspiration_links.right_header
  %h2 
    %span Inspiration
  %ul
    %li
      %a{"href"=>"http://www.sohtanaka.com/web-design/examples/image-rotator/"} Sohtanka jQuery
    %li
      %a{"href"=>"http://jqueryui.com/demos/"} jQuery UI
    %li
      %a{"href"=>"http://www.webdesignerwall.com/demo/jquery/"} Web Designer Wall
    %li
      %a{"href"=>"http://jqueryfordesigners.com/"} jQuery for Designers                    
.articles_links.right_header
  %h2 
    %span Articles
  %ul
    %li
      %a{"href"=>"/cross_browser"} Cross Browser Considerations
/ .datepicker_wrap
/   #datepicker
