.index_wrap.clearfix
  %h1 About Kenderson
  %p 
    Kenderson Consulting started from a consulting contract with 
    %a{"href"=>"http://www.iterativedesigns.com"} Iterative Designs
    to assist with various front-end projects, as the company progressed we started playing with Ruby on Rails and building web-based applications. Through all the projects, we realized that our true enjoyment is within the act of converting great graphic designs into web content (HTML &amp; CSS). 
  %p 
    The real 
    %i art
    comes into play when you can add touches of JavaScript to bring the page alive. The conversion from graphic design to web content isn't necessarily a highly technical process. What makes one person or company better than another is their attention to detail. There are so many different browsers that run on various operating systems, that the true challenge is to be able to design the content so that it renders consistently across all of these browsers. Furthermore, a good designer will construct a website so that it
    %a{"href"=>"#graceful_degrdation"} 
      %i gracefully degrades
    when there is an error in the loading of the CSS file or for certain browsers (mostly mobile ones) that limit the use of stylesheets.
    For more information on why you should consider multiple browsers and why graceful degradation is important, give this
    %a{"href"=>"#cross_browser_design"} 
      article on 
      %i Cross Browser Considerations
    a read.
  %p 
    %a{"href"=>"/send_mail_to_partners", :class=>"fancybox"} Contact us 
    if you have something you would like us to look at. We have do some graphic design within the company, and we have done many collaborations with other designers like Alex Hsiao of 
    %a{"href"=>"mailto:alex@perphic.com"} Perphic!.
    If you need a full-stack website, I can either provide you hosting or make a recommendation based on your needs.

  %p We pride ourselves in knowing what works best and how to apply this technology to your industry. Below are a couple articles that most of our clients find useful in understanding the intricacies of web design.