.index_wrap.clearfix
  %h1 About Kenderson
  #about_image
    #pic_frame
      .pics.pic_4
      .pics.pic_1
      .pics.pic_2
      .pics.pic_5

    %center
      Ken Henderson
  / #process_quote
  /   %p
  /     %img.large_quote{:src=>"/images/start_quote.png"}
  /     Ken helped me build the website for my consulting business, SocialBuzzPR. He worked with the site's designer to implement the design in Wordpress and helped me put the site's content online. He was knowledgeable, timely and responsive. I wouldn't hesitate to recommend Ken to anyone who needs web development assistance.
  /     %img.large_quote{:src=>"/images/end_quote.png"}
  /   %p{:style=>"text-align:right; margin:0; padding:0 15px;"}
  /     %i.accent - Anne Bentley, VP of Corporate Communications at PBS
  /   %p
  /     %img.large_quote{:src=>"/images/start_quote.png"}
  /     Ken has been a pleasure to work with, as well as an excellent resource for times when I've needed some expertise on a variety of front end web development. He's great at both a high and low level, and really cares about delivering a polished result. Highly recommended.
  /     %img.large_quote{:src=>"/images/end_quote.png"}
  /   %p{:style=>"text-align:right; margin:0; padding:0 15px;"}
  /     %i.accent - Jack Dempsey, CEO Jack Dempsey LLC
  %p 
    Kenderson Consulting originated from a consulting contract with 
    %a{"href"=>"http://www.iterativedesigns.com"} Iterative Designs
    to assist with various front-end projects, as the company progressed we started working with Ruby on Rails and building web-based applications. Through all the projects, we realized that our true enjoyment is within the act of converting great graphic designs into web content (HTML &amp; CSS). 
  %p 
    We believe that the the real 
    %i art
    comes into play when you can add touches of JavaScript to bring the page alive. The conversion from graphic design to web content isn't necessarily a highly technical process. What makes one person or company better than another is in their attention to detail. As discussed on our
    %a{"href"=>"/our_process#cross_browser_design"} Process Page, 
    there are many different browsers that run on various operating systems. So the true challenge is to be able to design the content so that it renders consistently across all of these browsers. Furthermore, a good designer will construct a website so that it
    %i gracefully degrades
    in browsers that fail to load the CSS and JavaScript files or for certain browsers (mostly mobile ones) that limit the use of these files.
  %p As well as getting the technology aspect of the industry correct, we also pride ourselves on being customer focused. The founder of Kenderson Consulting (Ken Henderson) came from a background of Project Management, and truly believes in applying the fundamental aspects of good project management to all of our projects. We believe that good communication is the key to managing the expectations of our customers. We eagerly invest additional effort in the initial stage of each project to better understand the needs of our customers. By achieving this higher level of communication, we are able to deliver better products to our customers.

  %p
    If you have something you would like us to take a look at or consult on, please feel free to 
    %a{"href"=>"/send_mail_to_partners", :class=>"fancybox"} Contact us.
    We have some graphic design within the company, and we have done many collaborations with other designers like Alex Hsiao of 
    %a{"href"=>"http://www.perphic.com"} Perphic!.
    If you need a full-stack website, we can either provide you hosting or make a recommendation based on your needs.
  %p{:style=>"padding-bottom:40px;"} We pride ourselves in knowing what works best and how to apply this technology to your industry. 
  .endorsement_quote_wrap.clearfix
    %span Here's what our clients and partners think!
    .endorsement_container{:style=>"float:right;"}
      %img.large_quote{:src=>"/images/start_quote.png"}
      Ken helped me build the website for my consulting business, 
      %a{:href=>"http://www.socialbuzzpr.com"} SocialBuzzPR. 
      He worked with the site's designer to implement the design in Wordpress and helped me put the site's content online. He was knowledgeable, timely and responsive. I wouldn't hesitate to recommend Ken to anyone who needs web development assistance.
      %img.large_quote{:src=>"/images/end_quote.png"}
      .endorsement_sig
        %i.accent - Anne Bentley, VP of Corporate Communications at PBS

    .endorsement_container{:style=>"float:left;"}
      %img.large_quote{:src=>"/images/start_quote.png"}
      Ken has been a pleasure to work with, as well as an excellent resource for times when I've needed some expertise on a variety of front end web development. He's great at both a high and low level, and really cares about delivering a polished result. Highly recommended.
      %img.large_quote{:src=>"/images/end_quote.png"}
      .endorsement_sig
        %i.accent - Jack Dempsey, Consultant and Business Owner
  .portfolio_linked.about_linked
    See the rest of our client endorsements on our
    %a{:href=>"http://www.linkedin.com/in/kenderson"}
      %img{:src=>"http://www.linkedin.com/img/webpromo/btn_profile_greytxt_80x15.png", :width=>"80", :height=>"15", :border=>"0", :alt=>"View Ken Henderson's profile on LinkedIn"}
