%h1 Connect with Kenderson Consulting
.div
  %p We are located in Northern Virginia, but work with customers all over the world. Feel free to contact us by any of the methods below.

#connect_right
  %iframe{:width=>"300", :height=>"400", :frameborder=>"0", :scrolling=>"no", :marginheight=>"0", :marginwidth=>"0", :src=>"http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=12905+centre+park+circle+suite+204,+herndon,+va+20171&amp;sll=37.0625,-95.677068&amp;sspn=34.396866,76.201172&amp;ie=UTF8&amp;hq=&amp;hnear=12905+Centre+Park+Cir,+Herndon,+Fairfax,+Virginia+20171&amp;spn=0.023363,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"}
  %br
  %small
    %a{:href=>"http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=12905+centre+park+circle+suite+204,+herndon,+va+20171&amp;sll=37.0625,-95.677068&amp;sspn=34.396866,76.201172&amp;ie=UTF8&amp;hq=&amp;hnear=12905+Centre+Park+Cir,+Herndon,+Fairfax,+Virginia+20171&amp;ll=38.949063,-77.393274&amp;spn=0.023363,0.036478&amp;z=14&amp;iwloc=A" ,:style=>"text-align:left"} See the Google Map?
  .addthis_toolbox.addthis_default_style
    %a.addthis_button_compact{:href => "http://www.addthis.com/bookmark.php?v=250&amp;username=xa-4cb1f1723664ca20"} Share
    %span.addthis_separator |
    %a.addthis_button_facebook
    %a.addthis_button_twitter
    %a.addthis_button_google
    %a.addthis_button_email

#connect_left
  .div
    .contact_right_wrap
      %img{:src=>"/images/kenderson_qr.png",:width=>"230px"}
      %br 
        %a{:href=>"http://en.wikipedia.org/wiki/QR_Code"} QR Reader Ready?

    .contact_left_wrap
      .contact_wrap
        %span Email
        %p 
          %a{"href"=>"mailto:info@kenderson.net"} info@kenderson.net
      .contact_wrap 
        %span Phone
        %p (443) 629-4257
      .contact_wrap
        %span Address
        %p 12905 Centre Park Circle 
        %p Suite 204
        %p Herndon, Va, 20171
    .contact_wrap{:style=>"width:520px;"}
      %span Social
      %p
        .socontact
          %a{:href=>"http://www.facebook.com/kenderson4"}
            %img{"src"=>"images/icons/handycons/facebook_64.png", "alt"=>"Link to Facebook"}              
        .socontact
          %a{:href=>"http://twitter.com/kenderson"}
            %img{"src"=>"images/icons/handycons/twitter_64.png", "alt"=>"Link to Twitter"}
        .socontact
          %a{:href=>"/send_mail_to_partners", :class=>"fancybox"}
            %img{"src"=>"images/icons/handycons/gmail_64.png"}  
        .socontact
          %a{:href=>"http://www.linkedin.com/company/1624152"}
            %img{"src"=>"images/icons/handycons/linkedin_64.png", "alt"=>"Link to Linked In"}
        .socontact
          %a{:href=>"skype:kenderson4?call", :style=>"border:none;"}
            %img{"src"=>"images/icons/handycons/skype_64.png", "alt"=>"Link to Skype"}
        .socontact
          %a{:href=>"http://blinklist.com/users/kenderson"}
            %img{"src"=>"images/icons/handycons/blinklist_64.png", "alt"=>"Link to Blink List Bookmarks"}
        %center
          %a{:href=>"skype:kenderson4?call", :style=>"border:none;"}
            %img{"src"=>"http://mystatus.skype.com/bigclassic/kenderson4", "alt"=>"My status"}   
            
                       
%script{:src=>"http://download.skype.com/share/skypebuttons/js/skypeCheck.js",:type=>"text/javascript"}
%script{:src => "http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4cb1f1723664ca20", :type => "text/javascript"}