.facebox_port
  %h2 Criag Coyne Jewelers
  %p 
    As part of consulting through Iterative Designs I handled the graphic design conversion for the
    %i refreshed
    Craig Coyne website. We worked with Frank Strategic Marketing (FSM) for the design of the site. This design was built on a very early version of rails. It used rails to construct an email system, where the users could submit their emails from the front end of the application, and the administrator could log-into the back-end, collect those email, and send a common mailer. The site also uses rails for the blog and "favorite links" sections. It also highlights the use JavaScript in a number of different ways; the image slideshow on the front page, the "flyout" menu bars, the "slideshow" type style on the "Our Wares" page. I also assisted with the shopping cart integration into the rails app. We used Shopify to provide the client with an affordable, low cost, easy to use, and well integrated solution.
  %a{"href"=>"http://www.craigcoyne.com"} 
    %img{"src"=>"/images/coyne.png", "width"=>"500px"}
    %span Click to view the site
  
