.index_wrap.clearfix
  .right_content
    = render :partial => "/site/right_content"        
  .left_content
    .xbv_subheader.subheader
      %span Why you need to consider all browsers..
    %h2 
    .header_rule
      %span
    %p Coming soon...
    .gd_subheader.subheader
      %span Why you need to consider all browsers..
    %h2 
    .header_rule
      %span
    %p Coming soon...
    %p
      %a{"href"=>"/"} Back to Home Page
    
