.facebox_port
  %h2 HTML Emails
  %p As part of consulting through Iterative Designs to Perphic, I have assisted in the Graphic design conversion and multi-application verification of many HTML email campaigns. The design and verification of HMTL emails are very different from a website. There are so many different desktop email applications (Outlook 2003, 2007, & Express, Mac Mail, Thunderbird, etc.) and browser-based email applications (gmail, hotmail, yahoomail, etc.), that the verification aspects become crucial.
  %table{"cellpadding"=>"0", "cellspacing"=>"20", "border"=>"0", "valign"=>"top", "align"=>"center"}
    %tr
      %td
        %a{"href"=>"http://www.perphic.com/software_ag_usa?p=1&s=UA-851709-3#/9/"} 
          %img{"src"=>"/images/sag_ipod_email.png", "width"=>"250px"}
          %span Click to view the site
      %td
        %a{"href"=>"http://www.perphic.com/software_ag_usa?p=1&s=UA-851709-3#/8/"} 
          %img{"src"=>"/images/sag_starbucks_email.png", "width"=>"250px"}  
          %span Click to view the site
    %tr
      %td{"colspan"=>"2"}
        %a{"href"=>"http://www.perphic.com/software_ag_usa?p=1&s=UA-851709-3#/7/"} 
          %img{"src"=>"/images/sag_webinar_email.png", "width"=>"250px"}
          %span Click to view the site
