.index_wrap.clearfix
  .right_content
    = render :partial => "/site/right_content"
  .left_content
    .art_subheader.subheader
      %span The Transition from Graphic Design to Web Content is an Art.
    .header_rule
      %span
    %p 
      I have been working with CSS and HTML for about 6 years now. I started consulting with 
      %a{"href"=>"http://www.iterativedesigns.com"} Iterative Designs
      about 3 years ago, and it was then that I started playing with Ruby on Rails and building web-based applications. Through all of my experiences I have come to realize that my true enjoyment is within the act of converting great graphic designs into web content (HTML &amp; CSS). 
    %p 
      The real 
      %i art
      comes into play when you can add touches of JavaScript to bring the page alive. The conversion from graphic design to web content isn't necessarily a highly technical process. What makes one person or company better than another is their attention to detail. There are so many different browsers that run on various operating systems, that the true challenge is to be able to design the content so that it renders consistently across all of these browsers. Furthermore, a good designer will construct a website so that it
      %i gracefully degrades
      when there is an error in the loading of the CSS file or for certain browsers (mostly mobile ones) that limit the use of stylesheets.
      For more information on why you should consider multiple browsers and why graceful degradation is important, give this
      %a{"href"=>"/cross_browser"} 
        article on 
        %i Cross Browser Considerations
      a read.
    %p 
      I am currently doing this
      %i "on the side"
      , so I don't take on too many projects, but please 
      %a{"href"=>"/send_mail_to_partners", "class"=>"facebox"}contact me 
      if you have something you would like me to look at. I do some graphic design myself, and I have done collaborations with other designers like Alex Hsiao of 
      %a{"href"=>"mailto:alex@perphic.com"}Perphic!.
      If you need a full-stack website, I can either provide you hosting or make a recommendation based on your needs.
.portfolio_wrap
  #prev.portfolio_selector <
  #next.portfolio_selector >
  .portfolio_div
    .portfolio_content
      .portfolio.clearfix
        .portfolio_image
          %a{"href"=>"/images/sag_west.jpg", "class"=>"facebox"}
            %img{"src"=>"/images/sag_west_thumb.jpg"}
              Test of Text
        .portfolio_text
          .Portfolio_text_head Software AG Mini Sites 
          As part of consulting through Iterative Designs to Perhic, I have assisted in the Graphic design conversion and rails integration for a whole series of Mini Sites.
      .portfolio.clearfix
        .portfolio_image
          %a{"href"=>"/images/sag_west.jpg", "class"=>"facebox"}
            %img{"src"=>"/images/sag_west_thumb.jpg"}
        
        .portfolio_text
          .Portfolio_text_head SMHK Law Website
          On this project, I constructed the graphic design, wrote the rails app, managed the hosting, and last but not least, I handled the Graphic Design conversion.
    .portfolio_content
      .portfolio.clearfix
        .portfolio_image
          %a{"href"=>"/images/sag_west.jpg", "class"=>"facebox"}
            %img{"src"=>"/images/sag_west_thumb.jpg"}        
        .portfolio_text
          .Portfolio_text_head Protegus Website
          As part of consulting to Iterative Designs, I handled the Graphic Design conversion for the 
          %i refreshed 
          Protegus website. I also constructed the slide show on the front page using JS.