#home_page
  #home_large 
    GET
    %span.accent RESULTS 
    FOR YOUR WEBSITE
  #home_small    
    Front-End Design for Websites and Web Applications.
  #home_small{:style=>"padding-top:120px;"}
    HTML, CSS, & JAVASCRIPT CONSULTING
    