.index_wrap.clearfix
  #right_side
    %h2 
      %span Collaborations
    %ul
      %li
        %a{"href"=>"http://www.iterativedesigns.com"} Iterative Designs
      %li
        %a{"href"=>"http://www.perphic.com"} Perphic Design
      %li
        %a{"href"=>"http://www.voodootikigod.com"} Chris Williams

    %h2 
      %span Inspiration
    %ul
      %li
        %a{"href"=>"http://www.sohtanaka.com/web-design/examples/image-rotator/"} Sohtanka jQuery
      %li
        %a{"href"=>"http://jqueryui.com/demos/"} jQuery UI
      %li
        %a{"href"=>"http://www.webdesignerwall.com/demo/jquery/"} Web Designer Wall
      %li
        %a{"href"=>"http://jqueryfordesigners.com/"} jQuery for Designers
      %li
        %a{"href"=>"http://www.jsroll.com"} JS Roll
      %li 
        %a{:href=>'https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/String', :title=>'JS String replace'}
          %img{:src=>'http://static.jsconf.us/promotejsv.gif', :height=>'280', :width=>'160', :alt=>'JS String replace'}

  #content_w_side
    %h1 THE LAB
    %p In order to give our clients (and potential clients) some inspiration for their own websites and web applications, we are building a few cool demos and snippets of technology.
    %h2 UNDER CONSTRUCTION
    / #accordion
    /   / {:style=>"display:none;"}
    /   %h3
    /     %a{:href=>"#"}Featured: Live Color Updates
    /   %div
    /     .color_toggle
    /       %a{:href=>"#", :class=>"backgound_color_select"} Background Color
    /       |
    /       %a{:href=>"#", :class=>"text_color_select"} Text Color
    /     %div.color_changer{:style=>"background-color:#fff;"}       
    /       %p I am thinking of filling these sections with the different pieces of technology I want to show case. I figured the accordion would give an easy way to condense the info. Thoughts?
    /       %p Custom colors and styles can be applied to the accordion.
    /   %h3
    /     %a{:href=>"#"} Second Entry
    /   %div 
    /     %p Nunc pellentesque sodales urna, quis fringilla est pretium et. Donec rhoncus, tortor vitae dictum egestas, magna turpis cursus ante, nec scelerisque metus purus in augue. Integer eget nulla in nunc ullamcorper commodo. Suspendisse rutrum, ipsum id dapibus semper, neque lacus eleifend metus, eget viverra leo tortor sit amet nunc. Cras vitae nulla sit amet magna sodales convallis. Nunc fringilla massa ut magna egestas sit amet sagittis justo porta. In semper facilisis massa sit amet semper. Proin commodo, erat eget ullamcorper ultricies, ligula orci vestibulum diam, sit amet placerat nisi ipsum sit amet purus. Ut ante dui, rhoncus ut pretium aliquam, vehicula rutrum turpis. Donec velit mauris, vehicula a condimentum at, fermentum sed risus. Proin congue, dolor in fringilla lacinia, nisi velit pulvinar libero, non lacinia dolor magna vitae sem. Pellentesque malesuada semper lorem, ut commodo leo viverra eu. Curabitur neque mauris, tempus fermentum laoreet placerat, blandit ut dolor. Fusce neque metus, vestibulum at aliquet quis, ultricies vel orci. Integer eget erat massa.
    /   %h3
    /     %a{:href=>"#"} Third Entry
    /   %div 
    /     %p Nunc pellentesque sodales urna, quis fringilla est pretium et. Donec rhoncus, tortor vitae dictum egestas, magna turpis cursus ante, nec scelerisque metus purus in augue. Integer eget nulla in nunc ullamcorper commodo. Suspendisse rutrum, ipsum id dapibus semper, neque lacus eleifend metus, eget viverra leo tortor sit amet nunc. Cras vitae nulla sit amet magna sodales convallis. Nunc fringilla massa ut magna egestas sit amet sagittis justo porta. In semper facilisis massa sit amet semper. Proin commodo, erat eget ullamcorper ultricies, ligula orci vestibulum diam, sit amet placerat nisi ipsum sit amet purus. Ut ante dui, rhoncus ut pretium aliquam, vehicula rutrum turpis. Donec velit mauris, vehicula a condimentum at, fermentum sed risus. Proin congue, dolor in fringilla lacinia, nisi velit pulvinar libero, non lacinia dolor magna vitae sem. Pellentesque malesuada semper lorem, ut commodo leo viverra eu. Curabitur neque mauris, tempus fermentum laoreet placerat, blandit ut dolor. Fusce neque metus, vestibulum at aliquet quis, ultricies vel orci. Integer eget erat massa.
