.index_wrap.clearfix
  %h1 Our Process
  %p We pride ourselves in knowing what works best and how to apply this technology to your industry. Below are a couple articles that most of our clients find useful in understanding the intricacies of web design.
  
  %h2 Cross-Browser Design
  %p Coming soon.....
  
  %h2 Graceful Degradation
  %p Coming soon.....
  
  %h2 The use of JaveScript
  %p Coming soon.....