.facebox_port
  %h2 Protegus
  %p 
  As part of consulting to Iterative Designs, I handled the Graphic Design conversion for the 
  %i refreshed 
  Protegus website. By request of the client, the back-end of this site was constructed using Expression Engine (a PHP driven Content management system). This site highlights the use of JavaScript to create the slideshow/top menu on the front page of the site. We also incorporated a few touches of JavaScript into the hover effects of the menu and the front page tabbed section.
  %a{"href"=>"http://www.protegus.com"} 
    %img{"src"=>"/images/protegus.png", "width"=>"500px"}
    %span Click to view the site
  
