.facebox_port
  %h2 Software AG Mini-Sites
  %p As part of consulting through Iterative Designs to Perphic, I have assisted in the Graphic design conversion and rails integration for a whole series of Mini Sites. These sites were specifically designed to target certain demographics for events that were sponsored by Software AG. 
  %table{"cellpadding"=>"0", "cellspacing"=>"20", "border"=>"0", "valign"=>"top", "align"=>"center"}
    %tr
      %td
        %a{"href"=>"http://central.supplychainforum2009.com"} 
          %img{"src"=>"/images/sag_central.png", "width"=>"250px"}
          %span Click to view the site
      %td
        %a{"href"=>"http://west.supplychainforum2009.com"} 
          %img{"src"=>"/images/sag_west.png", "width"=>"250px"}  
          %span Click to view the site
    %tr
      %td
        %a{"href"=>"http://www.supplychainforum2009.com"} 
          %img{"src"=>"/images/sag_soa.png", "width"=>"250px"}
          %span Click to view the site
      %td
        %a{"href"=>"http://www.soasummit2009.com"} 
          %img{"src"=>"/images/sag_soa.png", "width"=>"250px"}
          %span Click to view the site
