.facebox_port
  %h2 SMHK Law Website
  %p On this project, I constructed the graphic design, wrote the rails app, managed the hosting, and last but not least, I handled the Graphic Design conversion. This site utilizes rails for the back-end email system. It also uses a very JS touches like the auto-styled buttons on the front page, FaceBox pop-ups, and language changing.
  %a{"href"=>"http://www.smhklaw.com"} 
    %img{"src"=>"/images/smhklaw.png", "width"=>"500px"}
    %span Click to view the site
  
