%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en", :class=>"no-js"}
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8", :name=>"description", :content=>"Website and Web Application Design Services, providing our clients the highest performance..."}  
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8", :name=>"keywords", :content=>"web design, css,website design,html,front end,design,virginia,fairfax,richmond,washington dc,maryland"}
    %meta{:name=>"google-site-verification", :content=>"Q9IgUhV24gYaOLqFzT5Mxp8_1F-j8obg9Ru2dmvqfAQ"}
    %title= "Kenderson Consulting - Website and Web Application Design Services"
%body
  = yield
